
body{
  background: #141414;
  color: #ffffff
}

.movie-app > .row{
  overflow-x: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
movie-app > .row > .movie-item {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-right: 10px;
}

